*
*/

!.gitignore
!announcement
!CHANGELOG.md
!latest-version
!LICENSE
!README.md
!APPS.md
dpf*
dpm*
*.sh

!deployrr_v6.0-rc.app
!deployrr_v5.11.2.app
!deployrr_v5.11.2-arm.app

!images/
!images/**

!apps/
!apps/**

